<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriProphets - Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 data-translate-key="welcome">WELCOME TO AGRIPROPHETS</h1>
        <div id="languageSelectContainer">
            <select id="languageSelect">
                <option value="en">English</option>
                <option value="hi">Hindi</option>
                <option value="bn">Bengali</option>
                <option value="ta">Tamil</option>
                <option value="te">Telugu</option>
                <option value="kn">Kannada</option>
                <option value="gu">Gujarati</option>
            </select>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}" data-translate-key="home"><b>HOME</b></a></li>
            <li><a href="{{ url_for('login') }}" data-translate-key="login"><b>LOGIN/SIGNUP</b></a></li>
            <li><a href="{{ url_for('predict') }}" data-translate-key="predict"><b>PREDICT</b></a></li>
            <li><a href="{{ url_for('report') }}" data-translate-key="report">REPORT</a></li>
            <li id="logoutButton" style="display: none;"><a href="#">Logout</a></li>

        </ul>
    </nav>
    
    <main>
        <h1 data-translate-key="report">Report</h1>
        <form id="reportForm">
            <label for="prediction_id" data-translate-key="prediction_id">Prediction ID:</label>
            <input type="text" id="prediction_id" name="prediction_id" placeholder="Prediction ID" required />
            <label for="actual_price" data-translate-key="actual_price">Actual Price:</label>
            <input type="number" id="actual_price" name="actual_price" placeholder="Actual Price" required />
            <button type="submit" data-translate-key="submit">Submit</button>
        </form>
        <div id="message" data-translate-key="message"></div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>